.container-fluid{
    background-color: whitesmoke;
}
.right-link{
   
    float: right;
}
.img{
    border-radius: 50%;
    width:25px;
}
.nav-ul>li{
    display: inline;
    margin: 0 ;
    padding: 0 !important;
    font-size: 12px;
}
.vl-link{
    border-left:6px;
    height:40px;
}
.top-row{

    justify-content: space-around;
    background-color: dodgerblue;
    height: 90px;
    /* text-align: center; */
    padding-top: 2%;
    padding-left: 9%;
    padding-right: 10%;
}
.circle-btn{
    border-radius: 50%;
    background-color: white;
    width:40px;
    height: 40px;
    border:none;
}
.circle-btn1{
    border-radius: 50%;
    background-color: white;
    border:none;
   
    margin-left: -12%;
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 3px;
}
.circle-btn2{
    border-radius: 50%;
    background-color: dodgerblue;
    color:white !important;
    border:none;
    width: 25px;
    height: 25px;
    margin-top: 5px;
}
.circle-btn3{
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid lightgrey;
    margin-left: 50%;
}
.job-title{
    margin-left: 4%;
    font-size: 12px;
    font-weight: BOLD;
}

.blue{
    color: dodgerblue;
}

.gray{
    color: gray;
}
.search{
    width: 25% !important;
    border:none;
   
    
}
.search-icon{
    background-color: rgb(60, 144, 228) !important;
    border-top-left-radius: 1.25rem !important;
    border-bottom-left-radius: 1.25rem !important;
    border:none !important;
    height: 38px;
    color:white !important;
}
.search-placeholder{
    border-top-right-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
    border:none !important;
    background-color: rgb(60, 144, 228) !important;
    color:white !important;
}
.find-job{
    background-color: white;
    color:black;
    margin-left: 20%;
    height:36px;
    border-radius: 1.25rem;
    border: none;
    width: 10%;
}
.col-md-2{
    padding: 0 !important;
}
.heading{
    font-size: 12px;
    font-weight: 700;
    margin-top: 5% !important;
    margin-bottom: 4% !important;
}
.select{
    width: 164px;
}
p{
    margin:0 !important;
}
.left-col-ul > li{
    margin-bottom:4%;
    font-size:13px;
}
.relevance-date{
    font-size: 13px;
    float: right;
}
.more{
    font-size: 13px;
}
.icon{
    margin-top: -1%;
    font-size: 20px;
    padding-right: 18px;
    font-size: 23px !important;
}
.li-div{
    margin-top: -5%;
    margin-left: 14%;
}
.icon1{
    margin-top: 6%;
    margin-left: 1%;
    padding-right: 0%;
}
.img1{
    border-radius: 50%;
    width: 32px;
}
.align-right{
margin-left:9px;
}
.contact{
    vertical-align: text-top;   
}
.align-right1{
    margin-left:39px;
    vertical-align: text-top;
}
.align-right2{
    margin-left: 24px;
    
}
.align-right4{
    margin-left: 3px;
    margin-top: 0%;
}
.align-right5{
    margin-left: 31px;
}
.btn-ellipsis{
    margin-left: -5%;
    margin-top: -2%;
}

.job-description{
    margin-top: 2%;
    font-size:10px;
}

.job-description-icons > i {
    color: gray;
    margin-top: 40%;
    font-size: 16px;
    margin-left: 8%;
}
.job-description-icons {
    padding-left: 4% !important
}

.posted-by{
    padding: 0 !important;
    margin-left: -3%;
}
.posted-by > .row{
    margin-left: -3%;
}
.posted-by .contact{
    margin-left: -5%;
}
.align-left{
    margin-left:9%;
}
.align-left1{
    margin-left: 28px;
   
}
.align-div{
    margin-top: -8%;
}
.btn{
background-color: white !important;
border: 1px solid grey !important;
padding: 4px !important;
width: 80% !important;
font-size: 11px !important;

}

.btn.btn-save{
    margin-top: -10% !important;
}

.btn.btn-apply{
    margin-top: 5% !important;
}
.li-middle{
    background-color: white;
    width: 106%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    position: relative;
    padding-bottom: 3%;
    left: -4%;
   
}
.li-middle1{
    background-color: white;
    width: 98.5%;
    border-radius: 10px;
    margin-bottom: 3%;
    padding-bottom: 3%;
    margin-left: 0%;
    margin-right: 0%;
}

.ul-middle > .li-middle{
    padding-top: 2%;
}

.ul-middle > .li-middle1{
    padding-top: 2%;
}

.image1{
    align-items: center;
   
    width: 170px;
}
.right-column{
    background-color: white;
   
}
.right-div{
    align-items: center;
    text-align: center;
    margin-bottom:5%;
}
.under-heading{
    font-weight:700;
    text-decoration: underline;
    padding-left: 8%;
}
.under-heading1{
    font-weight:700;
    text-decoration: underline;
    padding-left: 4%;
}
.under-heading2{
    font-weight:700;
    text-decoration: underline;
    
}
ul{
    list-style-type:none;
    margin:0 !important;
    padding:0 !important;
}
ul>li{
    margin-bottom: 3%;
}
.right-ul>li{
    list-style-type:disc;
    margin-bottom: 3%;
    margin-left: 16% !important;
    margin-top:2%
   
}
.right-ul1>li{
    list-style-type:disc;
    margin-bottom: 3%;
    margin-left: 9% !important;
    margin-top:2%;
}
.qualification{
    font-size: 11px;
}
.about-job{
    padding-left:4%;
    
    font-size: 11px;
}
.about-job-p{
    margin-top:2% !important;
}
.read-more{
    margin-top: 5% !important;
}
.save-btn{
    width: 35%;
    border:none;
    color:black;
    background-color: whitesmoke;
    margin-right:2%;
    border-radius: 1.25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 39px;
    margin-top: 10%;
}
.apply-btn{
    width: 35%;
    margin-right:2%;
    border:none;
    color:white;
    background-color: dodgerblue;
    border-radius: 1.25rem;
    height: 39px;
}

.footer-ul>li{
    display: inline;
    padding-right: 5%;
    padding-top: 5%;
}
.footer{
    background-color: lightgrey !important;
}

.col-md-5{
        width:150% !important;
}

.ul-middle{
    position: relative;
}

.row.main{
    margin-left: 9%;
    margin-top: 2%;
}

.job-column{
    padding-left: 4% !important;
    padding-right: 4% !important;
}